@charset "UTF-8";

*  {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: rgba(211, 211, 211, 0.863);
}

header  {
    background-color: rgb(89, 88, 88);
}


header > h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: block;
}

menu  > ul {
    list-style-type: none;

}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(73, 72, 72);
    color: white;
    
}