@charset "UTF-8";

*   {
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    background-color: rgba(211, 211, 211, 0.863);
}

header  {
    background-color: gray;
}


header > h1{
    padding: 10px;
    text-align: center;
}

menu {
    display: block;
}

menu  > ul {
    list-style-type: none;

}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(87, 86, 86);
    
}