@charset "UTF-8";

/* Estilo para telas*/

* {
    margin: 0px;
    padding: 0px;
}

html    {
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 1em;
}

header  {
    background-color: lightgray;
}

header > h1{
    text-align: center;

}

menu li{
    display: inline-block;
    padding: 10px;
    background-color: rgba(103, 102, 102, 0.833);
    color: white;
}

menu ul {
    list-style-type: none;
    background-color: gray;

}

article {
    width: 600px;
    margin: auto;
    display: block;
}