@charset "UTF-8";

/*Configarações gerais*/

*   {
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    background-size: cover;
}

h1  {
    color: white;
    text-shadow: 2px 2px 0px rgb(2, 2, 224);
    padding: 10px;
}