@charset "UTF-8";

/* Todas as demais mídias*/

/* Typical Device Breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas:  acima de 1200px*/

@media print { /* IMPRESSORAS*/
    
}

@media screen and (min-width: 768px) and (max-widht: 992px){ /* TABLET*/
    body {
        background-image: url(../back-tablet.jpg);
    }
    
}

@media screen and (min-width: 992px) and (max-width:1200px){ /* DESKTOP*/
    
}

@media screen and (min-width:1200px) { /* GRANDES TELAS*/
    
}
